*{
	margin:  0px;
	padding: 0px;
}
	
	input {
	display: block;
	height: 55;
	width: 400px;
	margin: 10px;
	border:  1px solid;
	border-radius: 30px;
	font-size: 16pt;
	padding: 10px 20px;
	background-color: rgba (255,255,255,0,01);
	color: white;
	
	
}
#corpo-formulario {
	background-color: rgb(178, 231, 231);
	width: 420px;
	margin: 150px auto 0px auto;

}
input[type=submit] {
	background-color: rgb(115, 182, 238);
	border: none;
	cursor: pointer;


	
}
